.customers {

  .customer__list {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    color: #fff;

    .customer {
      display: flex;
      justify-content: space-between;

      &__image {
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 50%;
      }

      &__cta-icon {
        width: 48px;
        height: 48px;
        padding: 10px;
        background-color: $secondary-color;
        border-radius: 0.3rem;
      }
    }
  }
}

.user-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 38em) {
  .customers {
    grid-column: 1 / span 2;
  }
}

@media only screen and (min-width: 64em) {
  .customers {
    grid-column: 3;
    align-self: end;
  }

  .customers .customer__list {
    grid-template-columns: 1fr;
  }
}
