.primary{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-img{
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.logo{
  width: 13rem;
}

.btn-hamburger{
  width: 4.2rem;
  cursor: pointer;
}

.header-right{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-box{
  display: flex;
  align-items: center;
  gap: 1rem;
}