.sales,
.extra-stats {
  padding: 2rem;
  color: #fff;
  border-radius: 1rem;
  margin-top: 2rem;
}

// SALES

.sales {
  background-color: $primary-color;
  position: relative;
}

.label {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  &__value {
    font-size: 4rem;
  }

  &__title {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}

.sales__graph {
  position: absolute;
  bottom: -1.5rem;
  right: 4px;
  width: 200px;
}

// EXTRA-STATS

.extra-stats {
  padding: 3.8rem 2rem;

  ul {
    display: flex;
    justify-content: space-between;

    strong {
      font-size: 2.6rem;
      margin-bottom: 0.2rem;
      display: inline-block;
    }
  }
}

// EARNING AND VISITORS
.earnings h1 {
  color: #fff;
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

.chart-container {
  background-color: $secondary-color;
  border-radius: 1rem;
  padding: 2.8rem 2rem;
}

@media only screen and (min-width: 38em) {
  .main-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15rem repeat(2, auto);
    grid-gap: 3rem;
  }

  .extra-stats{
    padding: 0;
  }

  .extra-stats ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
  }

  .earnings {
    grid-column: 1/ span 2;
  }
}

@media only screen and (min-width:64em){

  .col2{
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-gap: 3rem;
  }

  .main-area{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 15rem auto;
  }

  .extra-stats{
    grid-column: 2/span 2;
    align-self: center;
    padding: 3.5rem;
    border: 1.5px solid $secondary-color;
  }

  .extra-stats ul{
    grid-template-columns: repeat(3,1fr);
  }

  .extra-stats ul li strong{
    margin-bottom: 1rem;
  }

  .earnings{
    grid-column: 1/span 2;
  }
}
